.css-image {
	background-color: white;
	display: inline-flex;
	flex-direction: column;
	margin: 0;
	padding: 0;
	border: 1px solid red;
}

.css-image-row {
	background-color: white;
	border: none;
	display: inline-flex;
	flex-direction: row;
	margin: 0;
	padding: 0;
}

.css-image-pixel {
	min-height: 10px;
	max-height: 10px;
	min-width: 10px;
	max-width: 10px;
	display: inline;
	border: none;
	margin: 0;
	padding: 0;
}